.message {
    -fx-fill: #000000;  // Colore del testo
}

.message-box-from-me {
    -fx-padding: 10px;  // Spaziatura intorno alla casella del messaggio
-fx-background-color: #C6DAE7;  // Colore di sfondo del messaggio
-fx-background-radius: 10px;  // Angoli arrotondati del messaggio
}

.message-box-from-them {
    -fx-padding: 10px;
    -fx-background-color: #A1D6CA;  // Different background color for received messages
-fx-background-radius: 10px;
}



                                                                                                                                                                                                                                                                                                                          Se desideri creare un'interfaccia utente più complessa o con un aspetto molto personalizzato, potresti considerare l'utilizzo di un tool come Scene Builder, che ti permette di creare l'interfaccia utente di JavaFX utilizzando un editor visuale, e fornisce anche strumenti per personalizzare facilmente l'aspetto dei controlli JavaFX.
