.message {
    -fx-fill: #000000;  // Colore del testo
}

.message-box-from-me {
    -fx-padding: 10px;  // Spaziatura intorno alla casella del messaggio
-fx-background-color: #C6DAE7;  // Colore di sfondo del messaggio
-fx-background-radius: 10px;  // Angoli arrotondati del messaggio
}

.message-box-from-them {
    -fx-padding: 10px;
    -fx-background-color: #A1D6CA;  // Different background color for received messages
-fx-background-radius: 10px;
}


.button{

    -fx-font-weight: bold;
    -fx-background-color: #FFD700; /* Giallo più scuro */
    -fx-border-color: #000000;
    -fx-border-radius: 5px; /* Bordo arrotondato */
    -fx-background-radius: 5px; /* Background arrotondato */
    -fx-padding: 5px; /* Padding ridotto */
}

/* Modifica il colore del Button, TitledPane, ChoiceBox, TextArea e ScrollPane quando il mouse è sopra */
.button:hover{
    -fx-background-color: #F1C40F; /* Giallo più chiaro */
}


.button, .choice-box, .text-area {
    -fx-text-fill: #000000; /* Testo bianco */
}

                                                                                                                                                                                                                                                                                                                          Se desideri creare un'interfaccia utente più complessa o con un aspetto molto personalizzato, potresti considerare l'utilizzo di un tool come Scene Builder, che ti permette di creare l'interfaccia utente di JavaFX utilizzando un editor visuale, e fornisce anche strumenti per personalizzare facilmente l'aspetto dei controlli JavaFX.
